{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <main class="row">
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <img src="{{ url_for('static', filename='Images/Kevan.jpeg') }}" alt="Kevan" width="350">
      </div>

      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <br>
        <p> Born and raised in the culturally rich landscape of India, my upbringing was immersed in linguistic and
          cultural diversity, with exposure to 21 major languages, 844 dialects, and myriad traditions and beliefs. This
          early foundation of celebrating differences was amplified when I transitioned to an international boarding
          school and later, pursued higher education in the United States. Through these experiences, I recognized the
          power of diversity in fostering unity and resilience. </p>

        <p> During my undergraduate years, I delved deeply into financial analytics as an intern at Cummins Inc., where
          I honed my skills in account auditing, data model development, and problem-solving related to billing. These
          experiences, coupled with networking opportunities, expanded my understanding of the industry and strengthened
          my analytical proficiency.</p>

        <p>My passion for teaching and knowledge sharing led me to a role as a Teaching Assistant in the Operations &
          Decision Technologies Department at the Kelley School of Business. There, I guided students in utilizing
          Microsoft Excel for data-driven decision-making, while also fostering a collaborative academic environment
        </p>

        <p> Beyond the classroom, community engagement holds great significance for me. As a mentor in the
          Kelley-to-Kelley Mentoring Program, I have had the privilege of supporting freshmen in their transition to
          college life. In addition, my role as a Soccer Trainer at the Cutters Soccer Club has allowed me to inspire
          younger generations through sports, emphasizing core values like teamwork and inclusivity.</p>
        <p> My diverse background and experiences have ignited a fervent passion for technology, especially its
          potential to bridge societal divides and pave the way for innovation. As I embark on my Master's journey, my
          goal is to delve into Information Systems, armed with a commitment to diversity, technological zeal, and
          effective communication. I firmly believe in the synergy of collaboration and innovation, aiming to leverage
          my varied experiences to address global challenges and envision a brighter, inclusive future.</p>
      </div>
    </main>
  </div>
{% endblock %}
