{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <main class="row">
      <h2>Contact Information</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>LinkedIn</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kevan Lyngdoh</td>
            <td>Indiana University</td>
            <td>klyngdoh@iu.edu</td>
            <td>+1 (812)-340-1368</td>
            <td><a href="https://www.linkedin.com/in/kevanlyngdoh/">LinkedIn</a></td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
{% endblock %}
